{
  "extends": "eslint-config-airbnb",
  "env": {
    "node": true
  },
  "rules": {
    "no-confusing-arrow": 0,
    "no-underscore-dangle": 0,
    "max-len": [
      "error",
      121
    ]
  },
  "plugins": [],
  "parser": "babel-eslint",
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": [
        "node_modules",
        "src"
      ]
    }
  },
  "globals": {}
}
