name: CI

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - run: yarn --pure-lockfile
      - name: linter
        uses: reviewdog/action-eslint@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          eslint_flags: ./src ./test ./types --ext .ts --ext .tsx
          reporter: github-check
  test:
    runs-on: macos-latest

    strategy:
      matrix:
        node-version: [14.x]
      fail-fast: true

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn --pure-lockfile
        name: Install dependencies
      - run: yarn test --coverage
        name: Run tests
        env:
          CI: true
