name: CI

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: linter
        uses: tagoro9/action-eslint@fix_eslint_args
        with:
          github_token: ${{ secrets.github_token }}
          eslint_flags: ./src ./test ./types --ext .ts --ext .tsx
  test:
    runs-on: macos-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x]
      fail-fast: true

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn --pure-lockfile
        name: Install dependencies
      - run: yarn test --coverage
        name: Run tests
        env:
          CI: true
      - uses: coverallsapp/github-action@v1.0.1
        name: Coverage
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          parallel: true
  coverage:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: coverallsapp/github-action@v1.0.1
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          parallel-finished: true
